.center__block
  .center__label
    天候
  .center__select
    = select_tag :weather, options_for_select([['---', '0'], ['にほんばれ', '1'], ['あめ', '2'], ['すなあらし', '3'], ['あられ', '4']]), {class: "pokemon__select--middle"}
.center__block
  .center__label
    フィールド
  .center__select
    = select_tag :field, options_for_select([['---', '0'], ['エレキフィールド', '1'], ['グラスフィールド', '2'], ['サイコフィールド', '3'], ['ミストフィールド', '4']]), {class: "pokemon__select--middle"}
-# .center__block
-#   .center__label
-#     じゅうりょく
-#   .center__select
-#     = select_tag :gravity, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--middle"}
.center__block
  .center__label
    トリックルーム
  .center__select
    = select_tag :trick_room, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--middle"}
.center__block
  .center__label
    リフレクター
  .center__select
    = select_tag :wall_physical_left, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
    .center__spacer
    = select_tag :wall_physical_right, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
.center__block
  .center__label
    ひかりのかべ
  .center__select
    = select_tag :wall_special_left, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
    .center__spacer
    = select_tag :wall_special_right, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
.center__block
  .center__label--small
    タールショット状態
  .center__select
    = select_tag :tar_shot_left, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
    .center__spacer
    = select_tag :tar_shot_right, options_for_select([['---', '0'], ['有効', '1']]), {class: "pokemon__select--short"}
