.move{class: "move__#{side}"}
  %div
    わざ
    .move__text_form{id: "move1_#{side}"}<
      = move.name
    - if move.type
      %div{class: "pokemon__type--#{move.type.id} pokemon__type--move"}
        = move.type.name
    .move__power
      .move__power--label
        威力：
      .move__power--value
        = move.power
