!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pokemonsimulator
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{data-ad-client:ca-pub-6869873900055671 async src: https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js}
  %body
    = yield
